In [5]:
pip install numpy pandas

Requirement already satisfied: numpy in c:\users\ischy\appdata\local\programs\python\python313\lib\site-packages (2.3.5)
Requirement already satisfied: pandas in c:\users\ischy\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ischy\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ischy\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ischy\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ischy\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('spam.csv', encoding='latin-1') #using latin-1 for proper encoding
df.sample(10)
#df.shape

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4378,ham,How are you. Just checking up on you,NaN,NaN,NaN
4451,ham,I've told you everything will stop. Just dont ...,NaN,NaN,NaN
2183,ham,"Chinatown got porridge, claypot rice, yam cake...",NaN,NaN,NaN
1170,ham,"Yeah, we can probably swing by once my roommat...",NaN,NaN,NaN
3064,ham,"Sounds good, keep me posted",NaN,NaN,NaN
3823,ham,I miss you so much I'm so desparate I have rec...,NaN,NaN,NaN
2813,ham,"Alright if you're sure, let me know when you'r...",NaN,NaN,NaN
1928,spam,Call from 08702490080 - tells u 2 call 0906635...,NaN,NaN,NaN
2573,spam,Congrats 2 mobile 3G Videophones R yours. call...,NaN,NaN,NaN
5475,ham,Dhoni have luck to win some big title.so we wi...,NaN,NaN,NaN